<p>bolido-lista-de-numeros works!</p>



<ul class="list-group mb-3">

    <li class="list-group-item">
        <div class="input-group">
            <input type="number" [formControl]="busqueda" (keyup)="onKeyUp()" class="form-control" placeholder="Buscar...">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
        </div>
    </li>

    <li *ngFor="let numero of numerosBuscados" class="list-group-item">

        <div class="input-group input-group-lg">
            <input readonly value="{{ numero.numero }}" type="text" class="form-control" placeholder="Recipient's username"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-addon2">Comprar</button>
            </div>
        </div>

    </li>
    

</ul>