<!-- <p>carrito-compras works!</p> -->

<h2 class="text-center">Carrito</h2>


<ul class="list-group list-group-flush mb-3">

    <li class="list-group-item">

        <div class="card">
            <h5 class="card-header text-center">Total a pagar: Q{{this.servicioCarritoDeCompras.totalAPagar}}</h5>
            <div class="card-body">
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <!-- <h5 class="card-subtitle mb-2 text-muted">Loteria: {{item.loteria}}</h5> -->
                <h5 class="card-subtitle mb-2 text-muted">Numeros a comprar: {{this.servicioCarritoDeCompras.itemsEnElCarrito.length}}</h5>
                <!-- <h5 class="card-subtitle mb-2 text-muted">Premio: Q{{item.premio}}</h5> -->
                <!-- <button class="btn btn-danger mr-3" (click)="eliminarItemCarrito(item)">Quitar</button> -->
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary">Pagar <i class="far fa-credit-card"></i></button>
                </div>
            </div>
        </div>

    </li>


    <li *ngFor="let item of servicioCarritoDeCompras.itemsEnElCarrito" class="list-group-item">

        <div class="card">
            <h5 class="card-header text-center">{{item.loteria}} Numero: {{ item.numero }}</h5>
            <div class="card-body">
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <!-- <h5 class="card-subtitle mb-2 text-muted">Loteria: {{item.loteria}}</h5> -->
                <h5 class="card-subtitle mb-2 text-muted">Cantidad: Q{{item.cantidadComprado}}</h5>
                <h5 class="card-subtitle mb-2 text-muted">Premio: Q{{item.premio}}</h5>
                <button class="btn btn-danger mr-3" (click)="eliminarItemCarrito(item)">Quitar</button>
                <button class="btn btn-success" (click)="detalleItemDelCarrito(item)">Editar</button>
            </div>
        </div>

    </li>


</ul>


<!-- Modal detalle numero -->
<div class="modal fade" id="modalDetalleNumero" tabindex="-1" role="dialog" aria-labelledby="modalDetalleNumeroLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetalleNumeroLabel">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Numero: {{ numeroSeleccionado.numero }}</h3>

                <div class="input-group input-group-lg mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="idTxtLoteria">Loteria</span>
                    </div>
                    <input type="text" [formControl]="txtLoteria" class="form-control"
                        aria-label="Sizing example input" aria-describedby="idTxtLoteria" readonly>
                </div>

                <div class="input-group input-group-lg mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="idCantidadDelNumero">Cantidad Q</span>
                    </div>
                    <input type="number" [formControl]="txtCantidadAComprar" (keyup)="onKeyUpCalcularPremio()"
                        class="form-control" aria-label="Sizing example input" aria-describedby="idCantidadDelNumero">
                </div>

                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="idCantidadAGanar">Posile Premio Q</span>
                    </div>
                    <input type="number" [formControl]="txtCantidadAGanar" class="form-control"
                        aria-label="Sizing example input" aria-describedby="idCantidadAGanar" readonly>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="actualizarCarrito()" class="btn btn-primary">Actualizar compra</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal realizar pago -->
<div class="modal fade" id="modalRealizarPago" tabindex="-1" role="dialog" aria-labelledby="modalRealizarPagoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRealizarPagoLabel">Realizar pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <h3 class="text-center">Realizar pago</h3> -->

                
                <form novalidate [formGroup]="stripeTest">
                    <input type="text" formControlName="name" placeholder="Jane Doe">
                    <div id="card-element" class="field"></div>
                    <!-- <button type="submit">
                      BUY
                    </button> -->
                  </form>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="buy()">Pagar</button>
            </div>
        </div>
    </div>
</div>


